.alert
  display: inline-block
  background: $success
  padding: ms(-2) ms(-1)
  border-radius: $border-radius
  color: $white

.alert--error
  background: $error

.alert--success
  background: $success

.alert--info
  background: $info

.alert--warning
  background: $warning
