ul.tabs
  text-align: center
  list-style: none
  margin: 0
  padding: 0
  li
    display: inline-block
    margin: 0 ms(-2)
    padding: ms(-2)
    &.active
      border-bottom: $border-width solid $primary-pop
      a
        color: $primary-pop
    a
      text-decoration: none
      box-shadow: none
    p
      display: inline-block
