// Colors
$primary: #051F33
$secondary: #F8FCFF

$primary-pop: #1A96FC
$secondary-pop: #EE3690
$tertiary-pop: #171AB2
$quaternary-pop: #FEC61E
$quinary-pop: #1BC98E
$error: $secondary-pop
$white: #FFFFFF

$text-color: $primary
$primary-btn-color: $primary-pop
$border-color: darken($secondary, 10%)

// Radius
$border-radius: 3px
$border-width: 2px
$transition-length: 0.3s

// Modular Scale
$ms-base: 20px, 16px
$ms-ratio: 1.618

// Grid
$container-width: ms(17)
$container-side-padding: ms(1)
$container-top-btm-padding: ms(3)

// Spacing
$base-margin: ms(1)

// Mixin for responding to different sizes
$targets: xs 12, sm 14, md 16, lg 18, xl 20

@mixin target($target)
  @each $candidate in $targets
    @if $target == nth($candidate, 1)
      @media screen and (min-width: #{ms(nth($candidate, 2))})
        @content
