html
  head
    title Pook's Great Adventure
    link( rel='stylesheet', href='/assets/css/app.css' )
  body
    .container
        h1 I am important because I am an H1.
        h2 Hello, I am H2 text.
        h3 Meeeeeow. H3 here.
        h4 I'm an H4—here me roar!
        h5 H5. High five.
        p Brownie cheesecake pastry jelly gummi bears. Tootsie roll powder icing jelly beans tootsie roll. Sugar plum sweet roll jelly. Apple pie icing chocolate apple pie muffin icing cake bonbon. Tart fruitcake tiramisu ice cream croissant chocolate bar toffee chocolate pastry. Brownie lollipop powder pudding liquorice gingerbread. Sweet roll pudding marshmallow dessert lollipop. Dragée jelly beans bear claw. Cheesecake lemon drops cupcake. Gummies dessert lemon drops liquorice.
        p Sweet roll fruitcake muffin sesame snaps bear claw donut. Cake donut powder biscuit marshmallow. Jelly beans jelly beans tiramisu caramels caramels apple pie. Bear claw macaroon chocolate marshmallow dragée. Sugar plum chupa chups candy. Liquorice pudding chocolate bar cotton candy cake chocolate cake fruitcake soufflé. Topping tootsie roll cotton candy brownie brownie chupa chups gummi bears dragée. Liquorice powder macaroon jelly toffee chocolate bar.
        p.small Brownie danish fruitcake lemon drops lemon drops liquorice. Gummi bears apple pie sweet roll cupcake chocolate cake candy canes.
        .btn-group
            a(href="#").btn-default Button
            a(href="#").btn-outlined Outlined button
        .btn-group
            a(href="#").btn-default.btn-secondary Secondary button
            a(href="#").btn-outlined.btn-secondary Outlined secondary button
        .btn-group
            a(href="#").btn-default.btn-tertiary Tertiary button
            a(href="#").btn-outlined.btn-tertiary Outlined tertiary button
        .btn-group
            a(href="#").btn-default.btn-quaternary Quaternary button
            a(href="#").btn-outlined.btn-quaternary Outlined quaternary button
        .btn-group
            a(href="#").btn-default.btn-small Small button
            a(href="#").btn-outlined.btn-large Large outlined button
        .row
            .col-xs-12
                .grid-example
        .space-1
        .row
            .col-xs-12.col-md-6
                .grid-example
            .col-xs-12.col-md-6
                .grid-example
        form
            .form-item
                label Text field
                input(type="text" placeholder="Type here")
            .form-item
                textarea(name="textarea" placeholder="Type here")
            .form-item
                label Checkboxes
                input(type="checkbox" name="checkbox" value="true" checked)
                input(type="checkbox" name="checkbox")
                input(type="checkbox" name="checkbox")
            .form-item
                label Radio buttons
                input(type="radio" name="radio1" value="true" checked)
                | First option
                input(type="radio" name="radio1")
                | Second option
                input(type="radio" name="radio1")
                | Third option
            .form-item
                label Select
                select(name="select")
                    option(disabled selected) Choose one
                    option First option
                    option Second option
                    option Third option
            .form-item
                input(type="file" name="file")
            .form-item
                input(type="Button" value="Submit form")